<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.excitedmap.dao.ReviewMapper" >
  <resultMap id="BaseResultMap" type="com.excitedmap.pojo.Review" >
    <id column="review_id" property="reviewId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="spot_id" property="spotId" jdbcType="INTEGER" />
    <result column="review_rating" property="reviewRating" jdbcType="INTEGER" />
    <result column="review_photo_path" property="reviewPhotoPath" jdbcType="VARCHAR" />
    <result column="review_photo_description" property="reviewPhotoDescription" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.excitedmap.pojo.Review" extends="BaseResultMap" >
    <result column="review_content" property="reviewContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    review_id, user_id, spot_id, review_rating, review_photo_path, review_photo_description
  </sql>
  <sql id="Blob_Column_List" >
    review_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.excitedmap.pojo.Review" >
    <selectKey resultType="java.lang.Integer" keyProperty="reviewId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into review (user_id, spot_id, review_rating, 
      review_photo_path, review_photo_description, 
      review_content)
    values (#{userId,jdbcType=INTEGER}, #{spotId,jdbcType=INTEGER}, #{reviewRating,jdbcType=INTEGER}, 
      #{reviewPhotoPath,jdbcType=VARCHAR}, #{reviewPhotoDescription,jdbcType=VARCHAR}, 
      #{reviewContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.excitedmap.pojo.Review" >
    <selectKey resultType="java.lang.Integer" keyProperty="reviewId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="spotId != null" >
        spot_id,
      </if>
      <if test="reviewRating != null" >
        review_rating,
      </if>
      <if test="reviewPhotoPath != null" >
        review_photo_path,
      </if>
      <if test="reviewPhotoDescription != null" >
        review_photo_description,
      </if>
      <if test="reviewContent != null" >
        review_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="spotId != null" >
        #{spotId,jdbcType=INTEGER},
      </if>
      <if test="reviewRating != null" >
        #{reviewRating,jdbcType=INTEGER},
      </if>
      <if test="reviewPhotoPath != null" >
        #{reviewPhotoPath,jdbcType=VARCHAR},
      </if>
      <if test="reviewPhotoDescription != null" >
        #{reviewPhotoDescription,jdbcType=VARCHAR},
      </if>
      <if test="reviewContent != null" >
        #{reviewContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.excitedmap.pojo.Review" >
    update review
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="spotId != null" >
        spot_id = #{spotId,jdbcType=INTEGER},
      </if>
      <if test="reviewRating != null" >
        review_rating = #{reviewRating,jdbcType=INTEGER},
      </if>
      <if test="reviewPhotoPath != null" >
        review_photo_path = #{reviewPhotoPath,jdbcType=VARCHAR},
      </if>
      <if test="reviewPhotoDescription != null" >
        review_photo_description = #{reviewPhotoDescription,jdbcType=VARCHAR},
      </if>
      <if test="reviewContent != null" >
        review_content = #{reviewContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.excitedmap.pojo.Review" >
    update review
    set user_id = #{userId,jdbcType=INTEGER},
      spot_id = #{spotId,jdbcType=INTEGER},
      review_rating = #{reviewRating,jdbcType=INTEGER},
      review_photo_path = #{reviewPhotoPath,jdbcType=VARCHAR},
      review_photo_description = #{reviewPhotoDescription,jdbcType=VARCHAR},
      review_content = #{reviewContent,jdbcType=LONGVARCHAR}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.excitedmap.pojo.Review" >
    update review
    set user_id = #{userId,jdbcType=INTEGER},
      spot_id = #{spotId,jdbcType=INTEGER},
      review_rating = #{reviewRating,jdbcType=INTEGER},
      review_photo_path = #{reviewPhotoPath,jdbcType=VARCHAR},
      review_photo_description = #{reviewPhotoDescription,jdbcType=VARCHAR}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
</mapper>