<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.excitedmap.dao.SpotQuestionnaireQuestionChoiceMapper" >
  <resultMap id="BaseResultMap" type="com.excitedmap.pojo.SpotQuestionnaireQuestionChoice" >
    <id column="spot_questionnaire_question_choice_id" property="spotQuestionnaireQuestionChoiceId" jdbcType="INTEGER" />
    <result column="spot_questionnaire_question_id" property="spotQuestionnaireQuestionId" jdbcType="INTEGER" />
    <result column="spot_questionnaire_question_choice_content" property="spotQuestionnaireQuestionChoiceContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spot_questionnaire_question_choice_id, spot_questionnaire_question_id, spot_questionnaire_question_choice_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from spot_questionnaire_question_choice
    where spot_questionnaire_question_choice_id = #{spotQuestionnaireQuestionChoiceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from spot_questionnaire_question_choice
    where spot_questionnaire_question_choice_id = #{spotQuestionnaireQuestionChoiceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.excitedmap.pojo.SpotQuestionnaireQuestionChoice" >
    <selectKey resultType="java.lang.Integer" keyProperty="spotQuestionnaireQuestionChoiceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spot_questionnaire_question_choice (spot_questionnaire_question_id, spot_questionnaire_question_choice_content
      )
    values (#{spotQuestionnaireQuestionId,jdbcType=INTEGER}, #{spotQuestionnaireQuestionChoiceContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.excitedmap.pojo.SpotQuestionnaireQuestionChoice" >
    <selectKey resultType="java.lang.Integer" keyProperty="spotQuestionnaireQuestionChoiceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spot_questionnaire_question_choice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spotQuestionnaireQuestionId != null" >
        spot_questionnaire_question_id,
      </if>
      <if test="spotQuestionnaireQuestionChoiceContent != null" >
        spot_questionnaire_question_choice_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spotQuestionnaireQuestionId != null" >
        #{spotQuestionnaireQuestionId,jdbcType=INTEGER},
      </if>
      <if test="spotQuestionnaireQuestionChoiceContent != null" >
        #{spotQuestionnaireQuestionChoiceContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.excitedmap.pojo.SpotQuestionnaireQuestionChoice" >
    update spot_questionnaire_question_choice
    <set >
      <if test="spotQuestionnaireQuestionId != null" >
        spot_questionnaire_question_id = #{spotQuestionnaireQuestionId,jdbcType=INTEGER},
      </if>
      <if test="spotQuestionnaireQuestionChoiceContent != null" >
        spot_questionnaire_question_choice_content = #{spotQuestionnaireQuestionChoiceContent,jdbcType=VARCHAR},
      </if>
    </set>
    where spot_questionnaire_question_choice_id = #{spotQuestionnaireQuestionChoiceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.excitedmap.pojo.SpotQuestionnaireQuestionChoice" >
    update spot_questionnaire_question_choice
    set spot_questionnaire_question_id = #{spotQuestionnaireQuestionId,jdbcType=INTEGER},
      spot_questionnaire_question_choice_content = #{spotQuestionnaireQuestionChoiceContent,jdbcType=VARCHAR}
    where spot_questionnaire_question_choice_id = #{spotQuestionnaireQuestionChoiceId,jdbcType=INTEGER}
  </update>
</mapper>