<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.excitedmap.dao.SpotErrorReportMapper" >
  <resultMap id="BaseResultMap" type="com.excitedmap.pojo.SpotErrorReport" >
    <id column="spot_error_report_id" property="spotErrorReportId" jdbcType="INTEGER" />
    <result column="spot_id" property="spotId" jdbcType="INTEGER" />
    <result column="spot_error_report_text" property="spotErrorReportText" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spot_error_report_id, spot_id, spot_error_report_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from spot_error_report
    where spot_error_report_id = #{spotErrorReportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from spot_error_report
    where spot_error_report_id = #{spotErrorReportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.excitedmap.pojo.SpotErrorReport" >
    <selectKey resultType="java.lang.Integer" keyProperty="spotErrorReportId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spot_error_report (spot_id, spot_error_report_text)
    values (#{spotId,jdbcType=INTEGER}, #{spotErrorReportText,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.excitedmap.pojo.SpotErrorReport" >
    <selectKey resultType="java.lang.Integer" keyProperty="spotErrorReportId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spot_error_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spotId != null" >
        spot_id,
      </if>
      <if test="spotErrorReportText != null" >
        spot_error_report_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spotId != null" >
        #{spotId,jdbcType=INTEGER},
      </if>
      <if test="spotErrorReportText != null" >
        #{spotErrorReportText,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.excitedmap.pojo.SpotErrorReport" >
    update spot_error_report
    <set >
      <if test="spotId != null" >
        spot_id = #{spotId,jdbcType=INTEGER},
      </if>
      <if test="spotErrorReportText != null" >
        spot_error_report_text = #{spotErrorReportText,jdbcType=VARCHAR},
      </if>
    </set>
    where spot_error_report_id = #{spotErrorReportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.excitedmap.pojo.SpotErrorReport" >
    update spot_error_report
    set spot_id = #{spotId,jdbcType=INTEGER},
      spot_error_report_text = #{spotErrorReportText,jdbcType=VARCHAR}
    where spot_error_report_id = #{spotErrorReportId,jdbcType=INTEGER}
  </update>
</mapper>