<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.excitedmap.dao.SpotLabelMapper" >
  <resultMap id="BaseResultMap" type="com.excitedmap.pojo.SpotLabel" >
    <id column="spot_label_id" property="spotLabelId" jdbcType="INTEGER" />
    <result column="spot_id" property="spotId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="spot_label_type" property="spotLabelType" jdbcType="INTEGER" />
    <result column="spot_label_description" property="spotLabelDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spot_label_id, spot_id, user_id, spot_label_type, spot_label_description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from spot_label
    where spot_label_id = #{spotLabelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from spot_label
    where spot_label_id = #{spotLabelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.excitedmap.pojo.SpotLabel" >
    <selectKey resultType="java.lang.Integer" keyProperty="spotLabelId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spot_label (spot_id, user_id, spot_label_type, 
      spot_label_description)
    values (#{spotId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{spotLabelType,jdbcType=INTEGER}, 
      #{spotLabelDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.excitedmap.pojo.SpotLabel" >
    <selectKey resultType="java.lang.Integer" keyProperty="spotLabelId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into spot_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spotId != null" >
        spot_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="spotLabelType != null" >
        spot_label_type,
      </if>
      <if test="spotLabelDescription != null" >
        spot_label_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spotId != null" >
        #{spotId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="spotLabelType != null" >
        #{spotLabelType,jdbcType=INTEGER},
      </if>
      <if test="spotLabelDescription != null" >
        #{spotLabelDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.excitedmap.pojo.SpotLabel" >
    update spot_label
    <set >
      <if test="spotId != null" >
        spot_id = #{spotId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="spotLabelType != null" >
        spot_label_type = #{spotLabelType,jdbcType=INTEGER},
      </if>
      <if test="spotLabelDescription != null" >
        spot_label_description = #{spotLabelDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where spot_label_id = #{spotLabelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.excitedmap.pojo.SpotLabel" >
    update spot_label
    set spot_id = #{spotId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      spot_label_type = #{spotLabelType,jdbcType=INTEGER},
      spot_label_description = #{spotLabelDescription,jdbcType=VARCHAR}
    where spot_label_id = #{spotLabelId,jdbcType=INTEGER}
  </update>
</mapper>