<ion-view>
    <ion-content class="padding">
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>5.1号景点</p>
            <p>推荐：200</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>5.2号景点</p>
            <p>推荐：100</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>5.3号景点</p>
            <p>推荐：0</p>
        </ion-item>
    </ion-content>
</ion-view>