<ion-view>
    <ion-content class="padding">
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>2.1号景点</p>
            <p>收藏：300</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>2.2号景点</p>
            <p>收藏：200</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>2.3号景点</p>
            <p>收藏：100</p>
        </ion-item>
    </ion-content>
</ion-view>