<ion-view>
    <ion-content class="padding">
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>3.1号景点</p>
            <p>足迹：100</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>3.2号景点</p>
            <p>足迹：60</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>3.3号景点</p>
            <p>足迹：30</p>
        </ion-item>
    </ion-content>
</ion-view>