<ion-view>
    <ion-content class="padding">
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>4.1号景点</p>
            <p>心愿：15</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>4.2号景点</p>
            <p>心愿：10</p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p>4.3号景点</p>
            <p>心愿：5</p>
        </ion-item>
    </ion-content>
</ion-view>