<ion-view>
    <ion-content class="padding">
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p id="showSpotName1"></p>
            <p id="showSpotNum1"></p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p id="showSpotName2"></p>
            <p id="showSpotNum2"></p>
        </ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
            <p id="showSpotName3"></p>
            <p id="showSpotNum3"></p>
        </ion-item>
    </ion-content>
</ion-view>
