<ion-view title="History">
    <div style="padding-top:70px;">
        <div style="display: flex">
            <div class="history_search">
                <label class="item item-input radio-inline">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
            <button class="button button-positive history_button">
                Search
            </button>
        </div>

        <div style="display: flex;margin: 15px">
            <ion-radio ng-model="choice" onclick="">按评分</ion-radio>
            <ion-radio ng-model="choice" onclick="">按收藏</ion-radio>
            <ion-radio ng-model="choice" onclick="">按足迹</ion-radio>
            <ion-radio ng-model="choice" onclick="">按心愿</ion-radio>
        </div>

        <div>
            <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
                <p>history 1</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
                <p>history 2</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="tabs.list.detail">
                <p>history 3</p>
            </ion-item>
        </div>
    </div>
</ion-view>