<ion-view title="Mine" hide-nav-bar="true" style="background-color: #4a87ee">
    <ion-content class="padding">

        <div class="button button-assertive" id="login_out_button" ng-click="userLogOut()">
            登出
        </div>

        <div class="row responsive-sm padding">
            <div class="col">
                <div class="user-pic">
                    <input type="file" id="avatar_file" style="display:none">
                    <img src="../{{currentUserAvatarPath}}" class="login-pic" ng-click="chooseAvatar()">
                </div>
                <div><button class="button-calm button button-block" ng-click="changeAvatar()">更换头像</button></div>
                <div class="list list-inset">
                    <label class="item item-input">name: {{currentUserName}}</label>
                    <label class="item item-input">Email Address: {{currentUserEmail}}</label>
                </div>

            </div>
        </div>


        <div class="row  padding">
            <div class="col"> <a class="button-calm button button-block" ng-click="getUserFavourite()">我的收藏</a> </div>
            <div class="col"> <a class="button-calm button button-block" ng-click="getUserWish()">我的心愿单</a> </div>
            <div class="col"> <a class="button-calm button button-block" ng-click="getUserFootprint()">我的足迹</a> </div>
            <div class="col"> <a class="button-calm button button-block" ng-click="getUserReviewSpot()">我的评论</a> </div>
        </div>
        <ion-nav-view name="userInfo_detail" ></ion-nav-view>
    </ion-content>
</ion-view>
