<ion-view title="Mine" hide-nav-bar="true" style="background-color: #4a87ee">
    <ion-content class="padding">

        <div class="button button-assertive" id="login_out_button">
            登出
        </div>

        <div class="row responsive-sm padding">
            <div class="col">
                <div class="user-pic"><img src="img/xie.jpg" class="login-pic"></div>

                <div class="list list-inset">
                    <label class="item item-input">name</label>
                    <label class="item item-input">Email Address</label>
                </div>

            </div>
        </div>


        <div class="row  padding">
            <div class="col"> <a class=" button-calm button button-block">足迹</a> </div>
            <div class="col"> <a class="button-calm button button-block">心愿单</a> </div>
            <div class="col"> <a class="button-calm button button-block">收藏</a> </div>
            <div class="col"> <a class="button-calm button button-block">分享</a> </div>
        </div>

    </ion-content>
</ion-view>
