<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" onclick="getSpotListOrderByAverageReviewRating()" href="#/tab/list/detail_list1" target="_self" >
                评分
            </a>
            <a class="item" onclick="getSpotListOrderByFavoriteCount()" href="#/tab/list/detail_list1" target="_self">
                收藏
            </a>
            <a class="item" onclick="getSpotListOrderByFootprintCount()" href="#/tab/list/detail_list1" target="_self">
                足迹
            </a>
            <a class="item" onclick="getSpotListOrderByWishCount()" href="#/tab/list/detail_list1" target="_self">
                心愿
            </a>
            <a class="item" href="#/tab/list/detail_list1" target="_self">
                推荐
            </a>
        </div>
    </ion-content>
</ion-popover-view>