<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" onclick="setListMode(1)">
                评分
            </a>
            <a class="item" onclick="setListMode(2)">
                收藏
            </a>
            <a class="item" onclick="setListMode(3)">
                足迹
            </a>
            <a class="item" onclick="setListMode(4)">
                心愿
            </a>
            <a class="item" onclick="setListMode(5)">
                推荐
            </a>
        </div>
    </ion-content>
</ion-popover-view>