<ion-view>
    <ion-slide-box on-slide-changed="slideHasChanged(index)">
        <ion-slide>
            <div class="box A"><h1>Show A</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="box B"><h1>Show B</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="box C">
                <h1>Show C</h1>
                <div class="bar bar-footer C"><a class="button button-balanced btn-start" ng-click="goMain()">Excited!  Map</a></div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>